<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title ></title>
    <th:block th:include="/_header"/>
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">

<th:block th:include="/navbar"/>
<div class="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Admin Page</li>
        </ol>
        <div class="card">
            <div class="card-header">Welcome :
                <span th:utext="${userName}"></span>
            </div>
            <div class="card-body">
                <b>This is protected page!</b>  

                <br/><br/>

                <div th:if="${userInfo != null}" th:utext="${userInfo}"></div>
            </div>
        </div>
    </div>
</div>
</body>

</html>